<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Managers list</title>
</head>
<body>
<br>
Managers list
<br>
<br>
<a href="/manager/newManager">Add Manager</a>
<br>
<br>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> First name </th>
        <th> Last name </th>
        <th> Status </th>
        <th> Description </th>
        <th> Created at </th>
        <th> Details Update Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="manager : ${managers}">
        <td> <a th:href="@{'/manager/managers/' + ${manager.getId()}}" th:text="|${manager.getId()}|">Manager</a>
        <td><span th:text="${manager.getFirstName}"> First name </span></td>
        <td><span th:text="${manager.getLastName}"> Last name </span></td>
        <td><span th:text="${manager.getManagerStatus}"> Status </span></td>
        <td><span th:text="${manager.description}"> Description </span></td>
<!--        <td><span th:text="${manager.getCreatedAt}"> Created at </span></td>-->
        <td>  <span th:text="${#temporals.format(manager.getCreatedAt(),'yyyy-MM-dd HH:mm')}">Created at</span></td>

        <td>
            <a th:href="@{'/manager/managers/' + ${manager.getId()}}"> Details </a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{/manager/update/{id}(id=${manager.id})}">Update</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{/manager/delete/{id}(id=${manager.id})}">Delete</a>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>