<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>manager list</title>
</head>
<body>
managers list

<table>
    <thead>
    <tr>
        <th> id </th>
        <th> first name </th>
        <th> last name </th>
        <th> status </th>
        <th> description </th>
        <th> created at </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="manager : ${managers}">
        <td> <a th:href="@{'/manager/managers/' + ${manager.getId()}}" th:text="|${manager.getId()}|">Manager</a>
        <td><span th:text="${manager.first_name}"> first name </span></td>
        <td><span th:text="${manager.last_name}"> last name </span></td>
        <td><span th:text="${manager.manager_status}"> status </span></td>
        <td><span th:text="${manager.description}"> status </span></td>
        <td><span th:text="${manager.created_at}"> Date created at </span></td>

        <td>
            <a th:href="@{'/manager/managers/' + ${manager.getId()}}"> Details </a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{/manager/update/{id}(id=${manager.id})}">Update</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{/manager/delete/{id}(id=${manager.id})}">Delete</a>
        </td>

    </tr>
    </tbody>
</table>

<br>

<a href="/manager/new_manager">Add Manager</a>
<!--<form action="/adm/new">-->
<!--    <button type="submit">Add Manager </button>-->
<!--</form>-->



<!--<div th:each="manager : ${managers}">-->
<!--    <a th:href="@{'/manager/' + ${manager.id}}" th:text="|${manager.id}. ${manager.getLast_name()}|">Manager</a>-->
<!--</div>-->


</body>
</html>