<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Update book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/manager/{id}(id=${manager.getId()})}"  th:object="${manager}">
    <label for="firstName"> first_name: </label>
    <input type="text" th:field="${manager.firstName}" id="firstName"/>
    <br/>
    <label for="lastName"> last_name: </label>
    <input type="text" th:field="${manager.lastName}" id="lastName"/>
    <br/>
    <label for="description"> description: </label>
    <input type="text" th:field="${manager.description}" id="description"/>
    <br>
    <div>
        <label for="status"> Status:        </label>
        <select id="status" required th:field="*{managerStatus}">
            <option th:each="status : ${statuses}"
                    th:value="${status}"
                    th:text="${status}">
            </option>
        </select>
    </div>
    <br>
    <br>
    <input type="submit" value=" Update "/>
<!--    <button type="submit"> Update</button>-->
</form>
<br>
<br>
<a th:href = "@{/manager/managers}"> Back to Products List</a>
<br>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>