<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Update book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/manager/{id}(id=${manager.getId()})}"  th:object="${manager}">
    <label for="first_name"> first_name: </label>
    <input type="text" th:field="${manager.first_name}" id="first_name"/>
    <br/>
    <label for="last_name"> last_name: </label>
    <input type="text" th:field="${manager.last_name}" id="last_name"/>
    <br/>
<!--    <label for="status">status : </label>-->
<!--    <input type="text" th:field="${manager.manager_status}" id="status"/>-->
    <div>
        <label for="status"> Status:        </label>
        <select id="status" required th:field="*{manager_status}">
            <option th:each="status : ${statuses}"
                    th:value="${status}"
                    th:text="${status}">
            </option>
        </select>
    </div>
    <br/>
    <label for="description"> description: </label>
    <input type="text" th:field="${manager.description}" id="description"/>
    <br/>
<!--    <label for="created_at"> created_at: </label>-->
<!--    <input type="datetime-local" th:field="${manager.created_at}" id="created_at"/>-->
<!--    <br/>-->
    <input type="submit" value=" Update "/>
<!--    <button type="submit"> Update</button>-->
</form>
<br>
<br>
<a th:href = "@{/manager/managers}"> Back to Products List</a>
</body>
</html>