<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<br>
Products
<br>
<br>
<a href="/product/newProduct">Add Product</a>
<br>
<br>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Product status </th>
        <th> Product name </th>
        <th> Currency code </th>
        <th> Interest rate </th>
        <th> Credit limit </th>
         <th> Manager</th>
        <th> Created at </th>
        <th> Updated at </th>
        <th> Details Update Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr></tr>
    <tr th:each="product : ${products}">
        <td><span th:text="${product.id}"> id  </span></td>
        <td><span th:text="${product.getProductStatus}"> Product status </span></td>
        <td><span th:text="${product.productName}"> Product name  </span></td>
        <td><span th:text="${product.getCurrencyCode}"> Currency code  </span></td>
        <td><span th:text="${product.getInterestRate}"> Interest rate  </span></td>
        <td><span th:text="${product.getCreditLimit}">  Credit limit </span></td>
        <td><span th:text="${product.manager.getLastName()}"> Manager </span></td>
<!--        <td><span th:text="${product.getCreatedAt}"> Created at </span></td>-->
<!--        <td><span th:text="${product.getUpdatedAt}"> Updated at </span></td>-->
        <td>  <span th:text="${#temporals.format(product.getCreatedAt(),'yyyy-MM-dd HH:mm')}">Created at</span></td>
        <td>  <span th:text="${#temporals.format(product.getUpdatedAt(),'yyyy-MM-dd HH:mm')}">Updated at</span></td>

        <td>
        <a th:href="@{'/product/products/' + ${product.getId()}}"> Details </a>
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{/product/update/{id}(id=${product.id})}">Update</a>
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{/product/delete/{id}(id=${product.id})}">Delete</a>
        </td>

    </tr>
    </tbody>
</table>


</body>
</html>