<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->

<head>
    <meta charset="UTF-8">
    <title>Update product</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/product/{id}(id=${product.getId()})}"  th:object="${product}">
    <label for="product_name"> product_name: </label>
    <input type="text" th:field="${product.product_name}" id="product_name"/>
    <div style="color:red" th:if="${#fields.hasErrors('product_name')}" th:errors="${product.product_name}">product name Error</div>
    <br/>
    <div>
        <label for="currency_code"> Currency code:        </label>
        <select id="currency_code" required th:field="*{currency_code}">
            <option th:each="currency_code : ${currency_codes}"
                    th:value="${currency_code}"
                    th:text="${currency_code}">
            </option>
        </select>
    </div>
    <br/>
    <label for="interest_rate">interest_rate : </label>
    <input type="number" th:field="${product.interest_rate}" id="interest_rate"/>
    <div style="color:red" th:if="${#fields.hasErrors('interest_rate')}" th:errors="${product.interest_rate}">interest rate Error</div>

    <br/>
    <label for="credit_limit"> credit_limit: </label>
    <input type="text" th:field="${product.credit_limit}" id="credit_limit"/>
    <div style="color:red" th:if="${#fields.hasErrors('credit_limit')}" th:errors="${product.credit_limit}">credit limit Error</div>
    <br/>
<!--    <label for="created_at"> created_at: </label>-->
<!--    <input type="datetime-local" th:field="${product.created_at}" id="created_at"/>-->
<!--    <br/>-->
        <div>
        <label for="status"> Status:        </label>
        <select id="status" required th:field="*{product_status}">
            <option th:each="status : ${statuses}"
                    th:value="${status}"
                    th:text="${status}">
            </option>
        </select>
    </div>
    <br/>
    <div>
        <label for="manager">Manager:
            <select id="manager" required th:field="*{manager_id}">
                <option th:each="manager : ${managers}"
                        th:value="${manager.getId()}"
                        th:text="${manager.getLast_name()}">
                </option>
            </select>
        </label>
    </div>
    <br/>

    <input type="submit" value=" Update "/>

<!--    <button type="submit"> Update</button>-->
</form>
<br>
<a th:href = "@{/product/products}"> Back to Products List</a>
<br>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>