<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients </title>
</head>
<body>
<br>
Clients
<br>
<br>
<a href="/client/newClient">Add Client</a>
<br>
<br>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> First name </th>
        <th> Last name </th>
        <th> Tax code </th>
        <th> Email </th>
        <th> Phone </th>
        <th> Address </th>
        <th> Status </th>
        <th> Manager </th>
        <th> Created at </th>
        <th> Updated at </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td><span th:text="${client.id}"> Id  </span></td>
        <td><span th:text="${client.getFirstName}"> First name </span></td>
        <td><span th:text="${client.getLastName}"> Last name </span></td>
        <td><span th:text="${client.getTaxCode}"> Tax code  </span></td>
        <td><span th:text="${client.email}"> Email </span></td>
        <td><span th:text="${client.address}"> Address </span></td>
        <td><span th:text="${client.phone}"> Phone </span></td>
        <td><span th:text="${client.status}"> Status </span></td>
        <td><span th:text="${client.manager.getLastName()}"> Manager </span></td>
<!--        <td><span th:text="${client.getCreatedAt}"> Created at </span></td>-->
<!--        <td><span th:text="${client.getUpdatedAt}"> Updated at </span></td>-->
        <td>  <span th:text="${#temporals.format(client.getCreatedAt(),'yyyy-MM-dd HH:mm')}">Created at</span></td>
        <td>  <span th:text="${#temporals.format(client.getUpdatedAt(),'yyyy-MM-dd HH:mm')}">Updated at</span></td>

        <td>
            <a th:href="@{'/client/clients/' + ${client.getId()}}"> Details </a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{/client/update/{id}(id=${client.getId()})}">Update</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{/client/delete/{id}(id=${client.getId()})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>



