<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Client </title>
</head>
<body>

<div>
    <table>
        <thead>
        <tr>
            <th> Description</th>
            <th> content</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td> first name</td>
            <td><span th:text="${client.first_name}"> first name </span></td>
        </tr>
        <tr>
            <td> last name</td>
            <td><span th:text="${client.last_name}">  last name </span></td>
        </tr>
        <tr>
            <td> tax code</td>
            <td><span th:text="${client.tax_code}">  tax code </span></td>
        </tr>
        <tr>
            <td> email</td>
            <td><span th:text="${client.email}">  email </span></td>
        </tr>
        <tr>
            <td> address</td>
            <td><span th:text="${client.address}">  address </span></td>
        </tr>
        <tr>
            <td> phone</td>
            <td><span th:text="${client.phone}">  phone </span></td>
        </tr>
        <tr>
            <td>status</td>
            <td><span th:text="${client.status}"> status </span></td>
        </tr>

        <tr>
            <td>manager</td>
            <td><span th:text="${manager}"> manager </span></td>
        </tr>


        </tbody>
    </table>
</div>
<br>
<br>
<a th:href="@{/client/clients}"> Back to Clients List</a>
<br>
<form th:method="GET"
      th:action="@{/client/update/{id}(id=${client.getId()})}">
    <input type="submit" value="Update"/>
</form>
<br>
<form th:method="GET"
      th:action="@{/client/delete/{id}(id=${client.getId()})}">
    <button type="submit"> Remove</button>
</form>
<br>
<div th:if="${errors}">
  <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>

</body>
</html>


