<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
  <meta charset="UTF-8">
  <title>New Client</title>
</head>
<body>

<form th:method="POST" th:action="@{/client}" th:object="${client}">
  <label for="firstName"> First name: </label>
  <input type="text" th:field="${client.firstName}" id="firstName"/>
   <br/>
  <label for="lastName">  Last name: </label>
  <input type="text" th:field="${client.lastName}" id="lastName"/>
   <br/>
  <label for="taxCode"> Tax code: </label>
  <input type="text" th:field="${client.taxCode}" id="taxCode"/>
  <br/>
  <label for="email">  Email: </label>
  <input type="text" th:field="${client.email}" id="email"/>
  <br/>
  <label for="address">  Address: </label>
  <input type="text" th:field="${client.address}" id="address"/>
  <br/>
  <label for="phone">  Phone: </label>
  <input type="text" th:field="${client.phone}" id="phone"/>
  <br/>
  <div>
    <label for="status"> Status:        </label>
    <select id="status" required th:field="${client.status}">
      <option th:each="status : ${statuses}"
              th:value="${status}"
              th:text="${status}">
      </option>
    </select>
  </div>
  <br/>
  <div>
    <label for="manager">Manager:
      <select id="manager" required th:field="*{managerId}">
        <option th:each="manager : ${managers}"
                th:value="${manager.getId()}"
                th:text="${manager.getLastName()}">
        </option>
      </select>
    </label>
  </div>
  <br/>
  <br/>
  <input type="submit" value=" Save "/>
</form>
<br/>
<a th:href = "@{/client/clients}"> Back to Clients List</a>
<br>
<div th:if="${errors}">
  <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>
