<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Transaction </title>
</head>
<body>

<div>
    <table>
        <thead>
        <tr>
            <th> Description</th>
            <th> Content</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td> Client: </td>
            <td><span th:text="${transaction.getBankAccount().getClient().getLastName()}"> Client </span></td>
        </tr>
        <tr>
            <td> Transaction Date</td>
            <td><span th:text="${transaction.getTransactionDate}"> Transaction Date </span></td>
        </tr>
        <tr>
            <td> Effective Date</td>
            <td><span th:text="${transaction.getEffectiveDate}"> Effective Date </span></td>
        </tr>
        <tr>
            <td> Sender</td>
            <td><span th:text="${transaction.sender}"> Sender </span></td>
        </tr>
        <tr>
            <td> Source account</td>
            <td><span th:text="${transaction.getSourceAccount}"> Source account </span></td>
        </tr>
        <tr>
            <td> Beneficiary</td>
            <td><span th:text="${transaction.beneficiary}"> Beneficiary </span></td>
        </tr>
        <tr>
            <td> Destination Account</td>
            <td><span th:text="${transaction.getDestinationAccount}"> Destination Account </span></td>
        </tr>
        <tr>
            <td> Transaction amount</td>
            <td><span th:text="${transaction.getTransactionAmount}"> Transaction amount </span></td>
        </tr>
        <tr>
            <td> description</td>
            <td><span th:text="${transaction.description}"> description </span></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<a th:href="@{/transaction/transactions}"> Back to Transactions List</a>
<br>
<form th:method="GET"
      th:action="@{/transaction/update/{id}(id=${transaction.getId()})}">
    <input type="submit" value="Update"/>
</form>
<br>
<form th:method="GET"
      th:action="@{/transaction/delete/{id}(id=${transaction.getId()})}">
    <button type="submit"> Remove</button>
</form>
<br>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>

</body>
</html>


