<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>
<br>
Transactions
<br>
<br>
<a href="/transaction/newTransaction">Add Transaction</a>
<br>
<br>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Client </th>
        <th> Transaction date </th>
        <th> Effective date </th>
        <th> Sender </th>
        <th> Source account </th>
        <th> Beneficiary </th>
        <th> Destination account </th>
        <th> Description </th>
        <th> Transaction amount </th>
        <th> Details Update Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="transaction : ${transactions}">
        <td><span th:text="${transaction.id}"> id  </span></td>
        <td><span th:text="${transaction.getBankAccount().getClient().getLastName()}"> Bank Account Client </span></td>
        <td>
            <span th:text="${#temporals.format(transaction.getTransactionDate(),'yyyy-MM-dd HH:mm')}">Transaction date</span>
        </td>
        <!--        <td><span th:text="${transaction.transactionDate}"> Transaction date </span></td>-->
        <td><span th:text="${transaction.effectiveDate}"> Effective date </span></td>
        <td><span th:text="${transaction.sender}"> Sender </span></td>
        <td><span th:text="${transaction.sourceAccount}"> Source account  </span></td>
        <td><span th:text="${transaction.beneficiary}"> Beneficiary  </span></td>
        <td><span th:text="${transaction.destinationAccount}"> Destination account </span></td>
        <td><span th:text="${transaction.description}"> Description </span></td>
        <td><span th:text="${transaction.transactionAmount}"> Transaction amount </span></td>
        <td>
            <a th:href="@{'/transaction/transactions/' + ${transaction.getId()}}"> Details </a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{/transaction/update/{id}(id=${transaction.id})}">Update</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{/transaction/delete/{id}(id=${transaction.id})}">Delete</a>
        </td>

    </tr>
    </tbody>
</table>


</body>
</html>