<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->

<head>
    <meta charset="UTF-8">
    <title>Update Client</title>
</head>
<body>


<form th:method="PATCH" th:action="@{/transaction/{id}(id=${transaction.getId()})}"  th:object="${transaction}">

        <label for="sender"> sender: </label>
        <input type="text" th:field="${transaction.sender}" id="sender"/>
        <br/>
        <label for="source_account"> source_account: </label>
        <input type="text" th:field="${transaction.source_account}" id="source_account"/>
        <br/>
        <label for="beneficiary"> beneficiary: </label>
        <input type="text" th:field="${transaction.beneficiary}" id="beneficiary"/>
        <br/>
        <label for="destination_account"> destination_account: </label>
        <input type="text" th:field="${transaction.destination_account}" id="destination_account"/>
        <br/>
        <label for="description"> description: </label>
        <input type="text" th:field="${transaction.description}" id="description"/>
        <br/>
        <label for="transaction_amount"> transaction_amount: </label>
        <input type="text" th:field="${transaction.transaction_amount}" id="transaction_amount"/>
        <br/>

        <div>
            <label for="status"> Status:        </label>
            <select id="status" required th:field="${transaction.status}">
                <option th:each="status : ${statuses}"
                        th:value="${status}"
                        th:text="${status}">
                </option>
            </select>
        </div>
        <br/>

    <input type="submit" value=" Update "/>

    <!--    <button type="submit"> Update</button>-->
</form>
<br>
<a th:href = "@{/transaction/transactions}"> Back to transactions List</a>
<br>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>