<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bank account </title>
</head>
<body>
Bank account

<br>
<br>
<a href="/bank_account/new_account">Add Bank account</a>
<br>
<br>

<table>
  <thead>
  <tr>
    <th> id </th>
    <th> client </th>
    <th> bank account name </th>
    <th> bank account number </th>
    <th> bank account type </th>
    <th> balance </th>
    <th> currency code </th>
    <th> status </th>
    <th> currency code </th>
    <th> created at </th>
    <th> updated at </th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="account : ${accounts}">
    <td><span th:text="${account.id}"> id  </span></td>
    <td><span th:text="${account.client.getLast_name()}"> client </span></td>
    <td><span th:text="${account.account_name}"> bank account name </span></td>
    <td><span th:text="${account.account_number}"> bank account number </span></td>
    <td><span th:text="${account.account_type}"> bank account type  </span></td>
    <td><span th:text="${account.balance}"> balance </span></td>
    <td><span th:text="${account.currency_code}"> currency code </span></td>
    <td><span th:text="${account.status}"> bank account status  </span></td>
    <td><span th:text="${account.created_at}"> created at </span></td>
    <td><span th:text="${account.updated_at}"> updated at </span></td>


    <td>
      <a th:href="@{'/bank_account/bank_accounts/' + ${account.getId()}}"> Details </a>
      &nbsp;&nbsp;&nbsp;
      <a th:href="@{/bank_account/update/{id}(id=${account.getId()})}">Update</a>
      &nbsp;&nbsp;&nbsp;
      <a th:href="@{/bank_account/delete/{id}(id=${account.getId()})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>


</body>
</html>