<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Bank account</title>
</head>
<body>

<div>
    <table>
        <thead>
        <tr>
            <th> Description</th>
            <th> Content</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> Client</td>
            <td><span th:text="${account.client.getLastName()}"> Client </span></td>
        </tr>
        <tr>
            <td> Account name</td>
            <td><span th:text="${account.getAccountName}"> Account name </span></td>
        </tr>
        <tr>
            <td> Account number</td>
            <td><span th:text="${account.getAccountNumber}"> Account number </span></td>
        </tr>
        <tr>
            <td> Account type</td>
            <td><span th:text="${account.getAccountType}">  Account type </span></td>
        </tr>
        <tr>
            <td> Balance</td>
            <td><span th:text="${account.balance}">  Balance </span></td>
        </tr>
        <tr>
            <td> Currency code</td>
            <td><span th:text="${account.getCurrencyCode}">  Currency code </span></td>
        </tr>
        <tr>
            <td> Account status</td>
            <td><span th:text="${account.status}"> Account status </span></td>
        </tr>

        </tbody>
    </table>
</div>
<br>
<br>
<a th:href="@{/bankAccount/bankAccounts}"> Back to Bank account List</a>
<br>
<form th:method="GET"
      th:action="@{/bankAccount/update/{id}(id=${account.getId()})}">
    <input type="submit" value="Update"/>
</form>
<br>
<form th:method="GET"
      th:action="@{/bankAccount/delete/{id}(id=${account.getId()})}">
    <button type="submit"> Remove</button>
</form>
<br>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>

</body>
</html>


