<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Bank account</title>
</head>
<body>

<div>
    <table>
        <thead>
        <tr>
            <th> Description</th>
            <th> content</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td> client</td>
            <td><span th:text="${account.client.getLast_name()}"> client </span></td>
        </tr>
<!--        <tr>-->
<!--            <td>client</td>-->
<!--            <td><span th:text="${client}"> client </span></td>-->
<!--        </tr>-->
        <tr>
            <td> bank account name</td>
            <td><span th:text="${account.account_name}"> bank account name </span></td>
        </tr>
        <tr>
            <td> bank account number</td>
            <td><span th:text="${account.account_number}"> bank account number </span></td>
        </tr>

        <tr>
            <td> bank account type</td>
            <td><span th:text="${account.account_type}">   bank account type </span></td>
        </tr>
        <tr>
            <td> balance</td>
            <td><span th:text="${account.balance}">  balance </span></td>
        </tr>
        <tr>
            <td> currency code</td>
            <td><span th:text="${account.currency_code}">  currency code </span></td>
        </tr>
        <tr>
            <td> status</td>
            <td><span th:text="${account.status}">  status </span></td>
        </tr>

        </tbody>
    </table>
</div>
<br>
<br>

<a th:href="@{/bank_account/bank_accounts}"> Back to Bank account List</a>
<br>
<form th:method="GET"
      th:action="@{/bank_account/update/{id}(id=${account.getId()})}">
    <input type="submit" value="Update"/>
</form>
<br>
<form th:method="GET"
      th:action="@{/bank_account/delete/{id}(id=${account.getId()})}">
    <button type="submit"> Remove</button>
</form>
<br>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>

</body>
</html>


