<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
  <meta charset="UTF-8">
  <title>New Bank account</title>
</head>
<body>

<form th:method="POST" th:action="@{/bankAccount}" th:object="${account}">

  <label for="account_name"> bank account name: </label>
  <input type="text" th:field="${account.accountName}" id="account_name"/>
   <br/>
  <label for="account_number"> bank account number: </label>
  <input type="text" th:field="${account.accountNumber}" id="account_number"/>
  <br/>
  <div>
    <label for="currency_code"> Currency code:        </label>
    <select id="currency_code" required th:field="*{currencyCode}">
      <option th:each="currency_code : ${currencyCodes}"
              th:value="${currency_code}"
              th:text="${currency_code}">
      </option>
    </select>
  </div>
  <br/>
  <div>
    <label for="type"> bank account type:        </label>
    <select id="type" required th:field="*{bankAccountType}">
      <option th:each="type : ${types}"
              th:value="${type}"
              th:text="${type}">
      </option>
    </select>
  </div>
  <br/>
  <div>
    <label for="status"> Status:        </label>
    <select id="status" required th:field="*{status}">
      <option th:each="status : ${statuses}"
              th:value="${status}"
              th:text="${status}">
      </option>
    </select>
  </div>
  <br/>
  <div>
    <label for="client">Client:
      <select id="client" required th:field="*{clientId}">
        <option th:each="client : ${clients}"
                th:value="${client.getId()}"
                th:text="${client.getLastName()}">
        </option>
      </select>
    </label>
  </div>
  <br/>
  <br/>
  <input type="submit" value=" Save "/>

</form>

<div th:if="${errors}">
  <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>

<br>
<br>
<a th:href="@{/bankAccount/bankAccounts}"> Back to Bank account List</a>
</body>
</html>
