<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->

<head>
    <meta charset="UTF-8">
    <title>Update Bank account</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/bankAccount/{id}(id=${account.getId()})}"  th:object="${account}">

    <label for="accountName"> Account name: </label>
    <input type="text" th:field="${account.accountName}" id="accountName"/>
    <br/>
    <label for="accountNumber"> Account number: </label>
    <input type="text" th:field="${account.accountNumber}" id="accountNumber"/>
    <br/>
    <div>
        <label for="currencyCode"> Currency code:        </label>
        <select id="currencyCode" required th:field="*{currencyCode}">
            <option th:each="currencyCode : ${currencyCodes}"
                    th:value="${currencyCode}"
                    th:text="${currencyCode}">
            </option>
        </select>
    </div>
    <br/>
    <div>
        <label for="type"> Account type:        </label>
        <select id="type" required th:field="*{bankAccountType}">
            <option th:each="type : ${types}"
                    th:value="${type}"
                    th:text="${type}">
            </option>
        </select>
    </div>
    <br/>
    <div>
        <label for="status"> Status:        </label>
        <select id="status" required th:field="*{status}">
            <option th:each="status : ${statuses}"
                    th:value="${status}"
                    th:text="${status}">
            </option>
        </select>
    </div>
    <br/>
    <div>
        <label for="client">Client:
            <select id="client" required th:field="*{clientId}">
                <option th:each="client : ${clients}"
                        th:value="${client.getId()}"
                        th:text="${client.getLastName()}">
                </option>
            </select>
        </label>
    </div>
    <br/>
    <br/>
    <input type="submit" value=" Update "/>
<!--    <button type="submit"> Update</button>-->
</form>
<br>
<a th:href="@{/bankAccount/bankAccounts}"> Back to Bank account List</a>
<br>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>